<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clases de defensa personal Kapap Krav-Maga no necesitas saber artes marciales para defenderte Clases grupales Clases privadas">
    <meta name="keywords" content="clases de defensa personal, clases regulares, clases de defensa personal para gente comun, clases krav maga, clases de defensa para gente comun, defensa personal online, clases kapap krav maga, clases defensa personal a domicilio, clases privadas de defensa, clases de defensa online">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Clases-defensa personal kapap</title>
  </head>
	<body>	
		<div class="container-fluid">
			<div class="row">
		        <div class="col-lg-2">
		          <img src="../assets/images/defensa-personal-logo.png" class="img-fluid" alt="logo fabian garcia academy">          
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-10 ">
		         <nav class="navbar navbar-expand-lg navbar-light bg-light">
		          <a class="navbar-brand" href="#"></a>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		          </button>
		          <div class="collapse navbar-collapse" id="navbarSupportedContent">
		            <ul class="navbar-nav mr-auto">
		              <li class="nav-item active">
		                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="clases.html">clases</a>
		              </li>
		              <li class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="cursos.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  Cursos
		                </a>
		                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                  <a class="dropdown-item" href="cursos.html">Curso Instructor Kapap</a>
		                  <a class="dropdown-item" href="cursos.html">Curso Systema</a>
		                  <a class="dropdown-item" href="cursos.html">Curso defensa esencial</a>
		                  <div class="dropdown-divider"></div>
		                </div>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="las-pma.html">Que son las PMA</a>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="contacto.html">Contacto</a>
		              </li>
		            </ul>
		          </div>
		        </nav>
		        </div>
		      </div>
			</div>
		</div>
		<div class="clasesDesktop">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-6 clasesDefensa">
						<h1 class="clasesDefensa__titulo--fuente">Clases de defensa personal para gente comun</h1>
						<h2>Clases regulares de Kapap Krav-Maga</h2>
							<p>clases regulares en nuestros centros de entrenamiento. Clases para ambos sexos</p>
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-4 clasesCard">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/logo-systema-ruso.jpg" class="card-img-top" alt="logo systema ruso">
						  <div class="card-body">
						    <p class="card-text clasesCard__texto--fuente clasesCard__padding--posicion clasesCard__padding--color">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 clasesParticulares">		
							<h2 class="clasesParticulares__titulo--fuente">clases particulares</h2>
							<p class="clasesParticulares__texto--posicion">Lorem ipsum dolor si Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Dolores, id dignissimos rem illo provident dicta doloribus totam repellat aliquid inventore. Provident eaque aliquam consequuntur aperiam cumque sit perspiciatis quas, commodi! Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Itaque nulla modi error porro provident iure nostrum deleniti necessitatibus a culpa amet libero illo ad omnis pariatur, saepe magnam iusto ut!t amet consectetur adipisicing elit. Officiis, dolorem eius praesentium fuga, aliquam asperiores sint cupiditate expedita aut possimus quis aliquid quam voluptatem dignissimos suscipit reiciendis maxime ipsam et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, vel. Dignissimos eaque ea aperiam reprehenderit. Praesentium voluptates deserunt exercitationem, rerum tempore eaque! Dignissimos nesciunt provident illum officiis eius, deleniti quibusdam.</p>
					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-5 clasesGrupos">
						<h2 class="clasesGrupos__titulo--fuente">grupos cerrados</h2>
							<p class="clasesGrupos__texto--posicion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo inventore eum aliquam, impedit accusantium porro sed, a nam quasi ad esse, odit nemo officia labore praesentium libero nulla, ut! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam provident placeat commodi laudantium inventore pariatur, quod aut, ut, minus, dignissimos temporibus? Beatae asperiores dicta adipisci laborum, cumque voluptatibus quam aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ipsa ullam ex neque earum aspernatur temporibus vel nemo aliquid, magni dignissimos expedita vitae labore amet iusto. Laudantium optio minus eum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet officia dolores in dolorem cumque fugiat aliquam, hic, nisi consequatur obcaecati voluptates, rem quibusdam culpa aspernatur nesciunt, tempora blanditiis tenetur. lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 clasesOnline">
						<h2 class="clasesOnline__titulo--fuente">modalidad Online</h2>
							<p class="clasesOnline__texto--posicion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quas, fugit. Aspernatur aperiam maxime beatae repudiandae earum optio, illum ut quasi architecto inventore soluta sunt, dolorum vero iure facilis? Neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui deleniti ipsa optio eveniet magni porro, ducimus quaerat tempora nobis veritatis quam distinctio vitae placeat ut assumenda libero modi minima doloribus.l Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia nulla laudantium quia aut minus neque vitae consequatur repellat quo doloribus consequuntur adipisci, ullam quis, exercitationem modi sit delectus possimus.</p>
					</div>
				</div>
			</div>
			<div class="boton__comenzarEntrenar--posicion">
        <a href="contacto.html">
          <button type="button" class="btn btn-primary btn-lg">Comenza a entrenar</button>
        </a>
      </div>
		</div>
		<!--Inicio Movil-------------------------------------------------------------->
		<div class="clasesMovil">
			<div>
			<h1>Clases de defensa personal para gente comun</h1>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/kyoshi-fabian-garcia.jpg" class="card-img-top" alt="Maestros Garcia Y Nardia">
						  <div class="card-body">
						    <h5 class="card-title">clases regulares</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/logo-systema-ruso.jpg" class="card-img-top" alt="logo systema ruso">
						  <div class="card-body">
						    <h5 class="card-title">clases particulares</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/maestros-kapap.jpg" class="card-img-top" alt="Maestros Pignon y Garcia">
						  <div class="card-body">
						    <h5 class="card-title">modalidad online</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--fin movil--------------------------------------------------------------->		
		<footer>
      <div> 
        <a href="../index.html">
          <img src="../assets/images/defensa-personal-logo-footer.png" alt="logo fabian garcia academy">
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com">
          <img src="../assets/images/face.png" alt="facebook page">
        </a>
        <a href="https://www.instagram.com">
          <img src="../assets/images/insta.png" alt="instagram page">
        </a>
      </div>
      <div>
        <h5>contacto@pma.com</h5>
      </div>
    </footer>
	    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	    <script>
	  AOS.init();
	  </script>
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>