<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clases de defensa personal Kapap Krav-Maga no necesitas saber artes marciales para defenderte Clases grupales Clases privadas">
    <meta name="keywords" content="clases de defensa personal, clases regulares, clases de defensa personal para gente comun, clases krav maga, clases de defensa para gente comun, defensa personal online, clases kapap krav maga, clases defensa personal a domicilio, clases privadas de defensa, clases de defensa online">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Clases-defensa personal kapap</title>
  </head>
	<body>	
		<div class="container-fluid">
			<div class="row">
		        <div class="col-lg-2">
		          <img src="../assets/images/defensa-personal-logo.png" class="img-fluid" alt="logo fabian garcia academy">          
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-10 ">
		         <nav class="navbar navbar-expand-lg navbar-light bg-light">
		          <a class="navbar-brand" href="#"></a>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		          </button>
		          <div class="collapse navbar-collapse" id="navbarSupportedContent">
		            <ul class="navbar-nav mr-auto">
		              <li class="nav-item active">
		                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="clases.html">Clases</a>
		              </li>
		              <li class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="cursos.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  Cursos
		                </a>
		                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                  <a class="dropdown-item" href="cursos.html">Curso Instructor Kapap</a>
		                  <a class="dropdown-item" href="cursos.html">Curso Systema</a>
		                  <a class="dropdown-item" href="cursos.html">Curso defensa esencial</a>
		                  <div class="dropdown-divider"></div>
		                </div>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="las-pma.html">Que son las PMA</a>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="contacto.html">Contacto</a>
		              </li>
		            </ul>
		          </div>
		        </nav>
		        </div>
		      </div>
			</div>
		</div>
		<div class="clasesDesktop">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="clasesDefensa__titulo--fuente">Clases de defensa personal para gente comun</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 clasesRegulares"data-aos="fade-up">
						<h2 class="clasesRegulares__titulo--formato">Clases regulares de Kapap Krav-Maga</h2>
							<p class="clasesRegulares__texto--formato">Clases regulares de defensa personal en cualquiera de nuestros centros de entrenamiento. Clases para ambos sexos. Veni a entrenar uno de los sistemas mas efectivos del mundo. No necesitas tener conocimientos previos. Apto para todas las edades y contexturas fisicas. Vas a encontrar una nueva forma de encarar la vida cotidiana y te vas a relacionar con un exelente grupo humano mientras aprendes a defenderte.</p>
					</div>
					<div class="col-lg-6 clasesRegulares__img--formato"data-aos="fade-up">
						<img class="img-fluid" src="../assets/images/kapap-clases-regulares.jpg" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 banner__clasesRegulares--formato">
						<h3>Sede congreso</h3>
						<h3>Sede caballito</h3>
						<h3>sede central devoto</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-4"data-aos="fade-up">
						<img class="img-fluid img__trainingOutdoor--formato" src="../assets/images/kapap-training-outdoor.png" alt="clases particulares al aire libre">
					</div>
					<div class="col-lg-6 clasesParticulares"data-aos="fade-up">		
							<h2 class="clasesParticulares__titulo--fuente">clases particulares de defensa personal</h2>
							<p class="clasesParticulares__texto--posicion">Brindamos tambien clases privadas para uno o varios alumnos. Podes entrenar con tu grupo familiar o tambien con amigos. Ideal para personas con horarios reducidos. Los dias y horarios se pactan para la comodidad de los alumnos. Asi mismo las clases podran realizarse:</p>
							<ul>
								<li>En el domicilio del solicitante</li>
								<li>Al aire libre</li>
								<li>En centros de entrenamiento pactado previamente</li>
							</ul>
							<h3 class="banner__clasesOnline--formato">Apto para todas las edades. Grupos cerrados</h3>
					</div>
				</div>
				<div class="row clasesOnline"data-aos="fade-up">
					<div class="col-lg-6 clasesOnline__img--formato">
						<img class="img-fluid img__clasesOnline--formato" src="../assets/images/kapap-bjj-kali-fabian-garcia.jpg" alt="Clases de defensa personal online">
					</div>
					<div class="col-lg-6">
						<h2 class="clasesOnline__titulo--formato">Clases de defensa personal Online</h2>
							<p class="clasesOnline__texto--posicion">Especialmente diseñado para aquellas personas que viven lejos o no pueden asistir de manera prescencial. En esta modalidad el alumno contara con dos instructores quienes prepararan y guiaran a los mismos. Es preferible que el alumno cuente con un compañero, ya que de esta manera podra asimilar los conceptos de manera mas efectiva. </p>
						<h3 class="banner__clasesOnline--formato">Entrena desde la comodidad de tu hogar o desde tu centro de entrenamiento</h3>
					</div>
				</div>
				<div class="row">
          <div class="col-lg-12">
            <h4 class="requisitos__titulo--formato"data-aos="fade-up">requisitos para entrenar</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 requisitos__lista--formato" data-aos="fade-up">
            <ul>
              <li>Durante el entrenamiento nadie debe probar nada, es decir no se entrena para competir o vencer a los compañeros y compañeras, se entrena libre de ego</li>
              <li>Cuidar y ser responsable tanto de su propio cuerpo como del cuerpo del compañero quien te lo presta para poder entrenar</li>
              <li>Dar el máximo esfuerzo para superarse día a día sin importar cuáles sean tus limitaciones actuales</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded requisitos__img--formato" data-aos="fade-up"src="../assets/images/kapap-kali-fabian-garcia.jpg" alt="Kyoshi fabian garcia">
          </div>
        </div>
			</div>
			<div class="boton__comenzarEntrenar--posicion">
        <a href="contacto.html">
          <button type="button" class="btn btn-primary btn-lg">Comenza a entrenar</button>
        </a>
      </div>
		</div>
		<!--Inicio Movil-------------------------------------------------------------->
		<div class="clasesMovil">
			<div>
			<h1>Clases de defensa personal para gente comun</h1>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/kyoshi-fabian-garcia.jpg" class="card-img-top" alt="Maestros Garcia Y Nardia">
						  <div class="card-body">
						    <h5 class="card-title">clases regulares</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/logo-systema-ruso.jpg" class="card-img-top" alt="logo systema ruso">
						  <div class="card-body">
						    <h5 class="card-title">clases particulares</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="width: 18rem;">
						  <img class="img-fluid" src="../assets/images/maestros-kapap.jpg" class="card-img-top" alt="Maestros Pignon y Garcia">
						  <div class="card-body">
						    <h5 class="card-title">modalidad online</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="contacto.html" class="btn btn-primary">Comenzar</a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--fin movil--------------------------------------------------------------->		
		<footer>
      <div> 
        <a href="../index.html">
          <img src="../assets/images/defensa-personal-logo-footer.png" alt="logo fabian garcia academy">
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com">
          <img src="../assets/images/face.png" alt="facebook page">
        </a>
        <a href="https://www.instagram.com">
          <img src="../assets/images/insta.png" alt="instagram page">
        </a>
      </div>
      <div>
        <h5>contacto@pma.com</h5>
      </div>
    </footer>
	    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	    <script>
	  AOS.init();
	  </script>
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>