<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clases de defensa personal Kapap Krav-Maga no necesitas saber artes marciales para defenderte Clases grupales Clases privadas">
    <meta name="keywords" content="clases de defensa personal, clases krav maga, clases de defensa para gente comun, defensa personal online, clases kapap krav maga, curso instructor kapap, curso systema ruso, curso esencial defensa personal">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilo.css">
<title>Cursos-defensa personal kapap</title>
  </head>
  <body>
      <div class="container-fluid">
      <div class="row">
            <div class="col-lg-2">
              <img src="../assets/images/defensa-personal-logo.png" class="img-fluid" alt="logo fabian garcia academy">          
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 ">
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="clases.html">clases</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="cursos.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cursos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Curso Instructor Kapap</a>
                      <a class="dropdown-item" href="#">Curso Systema</a>
                      <a class="dropdown-item" href="#">Curso defensa esencial</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="las-pma.html">Que son las PMA</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="cursoKapap__titulo--fuente">curso instructor de kapap</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cum quo repudiandae eaque? Consectetur quod obcaecati rerum, cumque laborum beatae at quibusdam voluptate temporibus vitae eum, optio, voluptates quia libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ex consequatur, reiciendis aspernatur nulla provident accusamus qui voluptatum tempore, corporis explicabo illum neque? Ipsum laborum, sequi voluptatibus exercitationem, nisi ut? Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Veritatis dicta esse perspiciatis aliquid, placeat hic id, eius, atque iure quidem libero, sapiente! Sed odit fuga, dolorum atque expedita vitae repellendus.</p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <img class="img-fluid" src="../assets/images/kyoshi-fabian-garcia.jpg" alt="fabian garcia y avi nardia">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../assets/images/logo-systema-ruso.jpg" alt="">
        </div>
        <div class="col-lg-10">
          <h3 >curso systema ruso</h3>
            <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Earum odit facilis sunt quas ut ullam, aspernatur voluptatibus, quasi repellendus dolores vitae impedit corporis, ipsam dicta culpa neque perspiciatis laborum. Aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur laborum doloribus necessitatibus error iusto dolorem soluta fugiat! Doloremque recusandae sint iure repellendus quibusdam vitae ut id cupiditate fugiat praesentium.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>curso defensa esencial</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque obcaecati, aliquid, officiis delectus voluptatem architecto corporis velit ab perspiciatis explicabo, at corrupti molestiae sapiente ipsam nulla laborum eius quibusdam voluptas. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid dignissimos doloremque, tenetur quam, hic dolorum beatae architecto, eligendi recusandae at temporibus mollitia, ut sunt. Nihil natus, expedita illum assumenda! Quae.
            </p>
        </div>
      </div>
    </div>      
    <div class="boton__comenzarEntrenar--posicion">
        <a href="contacto.html">
          <button type="button" class="btn btn-primary btn-lg">Comenza a entrenar</button>
        </a>
      </div>
    <footer>
      <div> 
        <a href="../index.html">
          <img src="../assets/images/defensa-personal-logo-footer.png" alt="logo fabian garcia academy">
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com">
          <img src="../assets/images/face.png" alt="facebook page">
        </a>
        <a href="https://www.instagram.com">
          <img src="../assets/images/insta.png" alt="instagram page">
        </a>
      </div>
      <div>
        <h5>contacto@pma.com</h5>
      </div>
    </footer>  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>
