<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clases de defensa personal Kapap Krav-Maga no necesitas saber artes marciales para defenderte Clases grupales Clases privadas">
    <meta name="keywords" content="artes marciales practicas, defensa personal efectiva, que es lo mejor para defenderse, kapap, krav maga, artes marciales israelies, defensa personal israeli">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../assets/images/icon.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Las PMA-defensa personal kapap</title>
  </head>
	<body>	
		 <div class="container-fluid">
      <div class="row"> 
        <div class="col-lg-4">
          <img src="../assets/images/logo-web-kapap.png" alt="logo fabian garcia academy">          
        </div>
        <div class="col-lg-8 navBarFlex ">
		         <nav class="navbar navbar-expand-lg navbar-light bg-light">
		          <a class="navbar-brand" href="#"></a>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		          </button>
		          <div class="collapse navbar-collapse" id="navbarSupportedContent">
		            <ul class="navbar-nav mr-auto">
		              <li class="nav-item active">
		                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="clases.html">Clases</a>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="las-pma.html">artes marciales practicas</a>
		              </li>
		               <li class="nav-item">
		                <a class="nav-link" href="contacto.html">Contacto</a>
		              </li>
		            </ul>
		          </div>
		        </nav>
		        </div>
		      </div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="lasPma__titulo--fuente">Artes Marciales Practicas</h1>
				</div>
			</div>
			<div class="row">	
				<div class="col-lg-1"></div>
				<div class="col-lg-4 pma__texto--formato">
					<h3>Aprendizaje por conceptos, no por tecnicas</h3>
					<p>La principal diferencia de las artes marciales practicas con cualquier otro sistema de defensa personal o arte marcial se basa en su metodología de aprendizaje. El entrenamiento del Kapap se basa en desarrollo de conceptos y no en el aprendizaje de técnicas. Mientras que los sistemas basados en técnicas buscan la creación de reflejos condicionados, el Kapap busca que mediante el desarrollo de ejercicios diseñados específicamente, el practicante incorpore los conceptos del sistema, para que luego él pueda desarrollar la técnica específica para la situación que se le presenta en el combate.</p>
					<h3>Pensado para resolver situaciones reales</h3>
					<p>Son sistemas versatiles, capaz de hacer que el practicante se adapte a cualquier situacion, con la conviccion de no rendirse y siempre seguir para adelante.
					</p>
				</div>
				<div class="col-lg-6">
					<img class="img-fluid" src="../assets/images/kapap-congreso-estambul.jpg" alt="acondisionamiento fisico">
				</div>			
			</div>
			<div class="row">
				<div class="col-lg-4 ">
					<img class="img-fluid biografia__img--formato" src="../assets/images/fabian-garcia-argentina.jpg" alt="kyioshi fabian garcia">
				</div>
				<div class="col-lg-8 pma__tituloBiografia--formato">
					<h2 class="biografia__titulo--formato"data-aos="fade-up">Kyoshi Fabian Garcia</h2> 
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 "></div>		
					<ul class="biografia__lista--formato">
						<li>Oficial de Infantería de Marina de la Armada Argentina, con especialización en Infantería y Oficial de Estado Mayor.</li>
						<li>Tiro rápido con armas de puño (Escuela de Tácticas y Técnicas de Infantería de Marina, Armada Argentina, Argentina).</li>
						<li>Técnica de la enseñanza (Escuela de Tácticas y Técnicas de Infantería de Marina, Armada Argentina, Argentina).</li>
						<li>Instructor de adiestramiento físico militar (Escuela de Tácticas y Técnicas de Infantería de Marina, Armada Argentina, Argentina). </li>
						<li>Curso de comando (Escuela de Infantería, Ejercito Argentino, Argentina).</li>
						<li>Curso instructor de defensa personal (Escuela de Tácticas y Técnicas de Infantería de Marina, Armada Argentina, Argentina)</li>
						<li>Jefe de lanzamiento en paracaidas (Agrupación de Comandos Anfibios , Armada Argentina, Argentina).</li>
						<li>Instructor del curso de comandos del Ejército Argentino (Escuela de Infantería, Ejercito Argentino, Argentina).</li>
						<li>Recuperacion de rehenes y antiterrorismo (USARMY, Argentina).</li>
					</ul>
				</div>
			</div>
		<footer>
      <div> 
        <a href="index.html">
          <img src="../assets/images/defensa-personal-logo.png" alt="logo fabian garcia academy">
        </a>
      </div>
      <div class="footer__redes--formato">
        <a href="https://www.instagram.com/defensapersonalcaballito/">
          <img src="../assets/images/insta.png" alt="instagram page">defensapersonalcaballito</a>
          <a href="https://www.instagram.com/fabian_garcia_pma/">
          <img src="../assets/images/insta.png" alt="instagram page">Fabian_Garcia_Pma</a>

      </div>
      <div class="footer__contacto--formato">
        <h5>contacto@pma.com</h5>
      </div>
    </footer>
	    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	    <script>
	  AOS.init();
	  </script>
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>