$padding:25px;
$margin:15px;
$marginBig:30px;
$centrado:center;
$vista:desktop;
h1{text-align:$centrado;
    text-transform:uppercase;
    font-size:50px;}
h2{text-align:$centrado;}      
h3{
   margin:{
   		top:$margin;
   		bottom:$margin;
   		left:$margin;
   		right:5px;
   		}
   font-weight: 800;
   text-transform:uppercase;     	
}
form{
   text-align: center;
}
.introduccion__texto--posicion{text-align:$centrado;}
.introduccion__texto--formato{
    margin:$margin $margin;
    text-transform:uppercase;
    font-size: 20px;
    font-weight:800;
}
.introduccion__titulo--formato{
    margin:$marginBig 0px;
    padding:$padding $padding;
    background:$rojo;
}
.aprende__lista--formato{
    font-size:25px;
    margin-left:$margin;
    }
.img__inicio--formato{ box-shadow: 2px 2px 5px #999;}
.beneficios__lista--estilo{list-style:hebrew;}
.img__training--formato{
    margin:$margin $margin;
     box-shadow: 2px 2px 5px #999;
}
.divisionPagina__titulo--formato{
    text-align:center;
    margin:$marginBig 0px;
    padding:$padding;
    background-color:#CCCCFF;
}
.aprende__texto--formato{
    text-align:$centrado;
    margin-left:$marginBig;
    margin-bottom:50px;}
.video__texto--formato{
    margin-top:50px;
    margin-left:$marginBig;
    text-align:left;
    font-size:20px;
}
.index__iframe--formato{
    margin-top:$marginBig;
}
.clases__banner--formato{
    margin-top:60px;
    padding:$padding;
    background:lightgrey;  
    text-align:center;
    text-transform:uppercase;
}
.clases__texto--formato{
    margin-top:70px;
    }
.requisitos__titulo--formato{
    padding:$padding $padding;
    background: red;
    color:white;
    margin:50px 0px;
    text-align:center;
}    
.requisitos__img--formato{
    box-shadow: 2px 2px 5px #999;  
}
.pma__texto--formato{
    text-align:$centrado;
    margin-top:50px;
    margin-bottom:50px;
    padding:$padding $padding;
    background:lightgrey;
    color:black;
}
.banner__img--formato{
    margin:{
            top:50px;
            bottom:50px;
            right:25px;
            left:25px;
            }
    padding:200px 200px;
    background-image:url(../images/kyoshi-fabian-garcia.jpg);
    background-repeat:no-repeat;
    background-position:center;
}
.banner__texto--formato{
    margin-top:100px;
    padding:25px 25px;
    background: rgba(250, 250, 250, 0.7); 
}
.boton__comenzarEntrenar--posicion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 25px;
    padding: 10px 10px;
    }
.logo{margin-top:50px;}
footer{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding:30px 30px;
}
/*pagina clases*/
.clasesRegulares{
    display:flex;
    flex-direction:column;
    flex-wrap:flex;
    justify-content:center;
}
.clasesRegulares__img--formato{
    margin:{
        top:50px;
        bottom:50px;
    }
    box-shadow: 2px 2px 5px #999;
}
.clasesRegulares__titulo--formato{
    font-size:30px;
    margin-left:5px;
}
.clasesRegulares__texto--formato{
    margin:$margin $marginBig;
}
.banner__clasesRegulares--formato{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:25px 25px;
    background:red;
    color:white;
    margin-bottom:50px;
}
.clasesParticulares__texto--posicion{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    margin:$margin $margin;
    text-align:center;
}
.img__trainingOutdoor--formato{
    box-shadow: 2px 2px 5px #999;
}
.img__clasesOnline--formato{
    box-shadow: 2px 2px 5px #999;
}
.clasesOnline{
    margin:70px 0px;
}
.clasesOnline__titulo--formato{}
.clasesOnline__texto--posicion{
    text-align:center;
    margin:$marginBig $marginBig;
}
.banner__clasesOnline--formato{
    padding:$padding $padding;
    background:lightgrey;
    color:red;
    text-align:center;
}
/*--------------------*/
.card-title{
    font-size:25px;
    font-weight:800;
}
.cursos__Card1--formato{
    display:flex;
    felx-dierction:row;
    flex-wrap:wrap;
    justify-content:center;
}
.cursos__Card2--formato{
    display:flex;
    felx-dierction:row;
    flex-wrap:wrap;
    justify-content:center;
}
.cursos__Card3--formato{
    display:flex;
    felx-dierction:row;
    flex-wrap:wrap;
    justify-content:center;
}
.pma__texto--formato{
    margin:$margin $marginBig;
    text-align:center;
}
.biografia{
    margin:{
        top:50px;
        bottom:50px;
    }
}
.pma__tituloBiografia--formato{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    padding:$padding $padding;
    background:lightgrey;
}
.biografia__img--formato{
    margin:0px 35px;
}
.biografia__titulo--formato{
    font-size:50px;
    color:black;
}
.biografia__lista--formato{
    margin:$padding 30px;

}
@if $vista==desktop{
    @media only screen and(min-width:1024px){
    h1{font-size:100px;}
    }
}
@else if $vista==mobile{
    @media only screen and(min-width:767px){
    h1{font-size:500px;}
    }
}
/*linea 126*/
@for $i from 1 through 3{
    .clases-#{$i}{font-size:10px*$i;}
}

/*maps***************************************************************/
$estilos:(
color:$azul,
centro:center,
);
.pma{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-weight:600;
    padding: 10 px;
    color:white;
}
/*****************************/
.entrenarConceptos__titulo--boxModel{
    text-align:$centrado;
    text-transform: uppercase;
    font-size:25px;
    color:$blue;
}
.entrenarConceptos__texto--boxModel{
    text-align:$centrado;
    font-size:15px;
}
.economiaMovimiento__titulo--boxModel{
    font-size:25px;
    text-transform:uppercase;
    text-align:$centrado;
    color: $blue;
}
.economiaMovimiento__texto--boxModel{
    text-align:$centrado;
    font-size:15px;
    margin:$margin;
}
.posicionRelativa__titulo--boxModel{
    color:$blue;
    text-align:$centrado;
    text-transform:uppercase;
    font-size:25px;
}
.posicionRelativa__texto--boxModel{
    text-align:$centrado;
    font-size:15px;
}