$negro: #140f07;
$azul: #192b4d;
$violeta: #4d62aa;
$gris: #95a2fa;
$blanco: #f5ecf5;

h3{background:$violeta;}
.introduccion__titulo--color{color:$azul;}
.beneficios__lista--color{
	background:$gris;
	}
footer{background: darkgrey;}


.clasesCard__padding--color{
	background:$violeta;
}
